<mat-toolbar class="toolbar">
    <button mat-icon-button class="menu" (click)="drawer.open()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="home" routerLink="/">
        Schwering App
    </span>

    <span class="title" *ngIf="title != ''">
        <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        {{ title }}
    </span>

    <span class="spacer"></span>

    <button mat-icon-button class="joke" (click)="showJoke()">
        <mat-icon>mood</mat-icon>
    </button>
</mat-toolbar>
  